dark_color = rgba(0,0,0,.88)
gray_color = rgba(0,0,0,.541176)
light_gray_color = #FAFAFA
white_color = #FFF
primary_color = rgb(0, 188, 212)
success_color = #00d418
warning_color = rgb(255, 64, 129)

*
  box-sizing: border-box;

body
  background-color: light_gray_color
  font-family: 'Roboto'

h2
  font-size: 28px

h3
  font-size: 24px

.subtitle
  color: gray_color

.error-warning
  color: white_color;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 0
  padding: 5px 25px
  background-color: warning_color;
  border-radius: 2px
  margin: 0 12px

.warning
  color: gray_color
  font-size: 13px;
  margin-bottom: 0
  padding: 5px 25px

@import "./appbar.styl"
@import "./profile.styl"
@import "./markets.styl"
@import "./orderrequest.styl"
@import "./orderbook.styl"
@import "./orderdialog.styl"
@import "./loader.styl"
// Fix bug
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
  box-shadow: none;

.multiple-market-table__choice
  color: gray_color
  font-weight: bold;
  a
    color: gray_color
    text-decoration: underline;

.breadcrumb
  display: flex;
  align-items: center;

@media(min-width:768px)
  .multiple-market-table__choice
    a
      text-decoration: none;
