dark_color = rgba(0,0,0,.88)
gray_color = rgba(0,0,0,.60)
light_gray_color = #FAFAFA
white_color = #FFF
primary_color = rgb(0, 188, 212)

*
  box-sizing: border-box;

body
  background-color: light_gray_color
  font-family: 'Roboto'

h2
  font-size: 28px

h3
  font-size: 24px

@import "./markets.styl"
@import "./orderbook.styl"
// Fix bug
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
  box-shadow: none;
