dark_color = rgba(0,0,0,.88)
gray_color = rgba(0,0,0,.541176)
light_gray_color = #FAFAFA
white_color = #FFF
primary_color = #616161
success_color = #00BCD4
warning_color = #ff4081
positive_color = green
negative_color = red
tablet_break = 768px
desktop_break = 1280px
title_font = Banda

@font-face
   font-family title_font
   src url('../fonts/regular.otf')
   font-weight: 300;

*
  box-sizing: border-box;

body
  background-image: url("../img/ecailles.png");
  background-repeat: repeat;
  // background-color: light_gray_color
  font-family: 'Open Sans', sans-serif

h1,h2,h3,h4,h5
  font-family: title_font

h2
  font-size: 28px

h3
  font-size: 24px

.subtitle
  color: gray_color

.error-warning
  color: white_color;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 0
  padding: 5px 25px
  background-color: warning_color;
  border-radius: 2px
  margin: 0 12px

.warning
  color: gray_color
  font-size: 13px;
  margin-bottom: 0
  padding: 5px 25px
.positive-color
  color: positive_color
  fill: positive_color
.negative-color
  color: negative_color
  fill negative_color
  
@import "./appbar.styl"
@import "./profile.styl"
@import "./markets.styl"
@import "./orderrequest.styl"
@import "./orderbook.styl"
@import "./orderdialog.styl"
@import "./loader.styl"
// Fix bug
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
  box-shadow: none;

.multiple-market-table__choice
  font-family: title_font
  a
    color: dark_color
    text-decoration: underline;

.breadcrumb
  display: flex;
  align-items: center;

@media(min-width:tablet_break)
  .multiple-market-table__choice
    a
      text-decoration: none;
