.appbar
  background-color: primary_color
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 20px
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
  z-index: 1100

.appbar-logo
  font-size: 24px
  letter-spacing: 0px
  font-weight: 400
  margin: 0

.appbar-nav
  color: white_color
  display: flex;
  align-items: center;

.appbar-nav__info-container
  margin-right: 20px;
  display: flex;
  align-items: center;

  span
    font-weight: 600
    text-transform: uppercase;
    margin-right: 10px
    display: none;

.appbar-nav__info-holder
  border-radius: 2px;
  padding: 2px 8px 0 8px;
  background-color: white_color
  color gray_color
  font-weight: 500;

@media(min-width:tablet_break)
  .appbar-nav__info-container
    margin-right: 80px;
    span
      display: block;
