.appbar-nav
  color: white_color
  display: flex;
  align-items: center;

.appbar-nav__info-container
  margin-right: 20px;
  display: flex;
  align-items: center;

  span
    font-weight: 600
    text-transform: uppercase;
    margin-right: 10px

.appbar-nav__info-holder
  border-radius: 2px;
  padding: 2px 8px 0 8px;
  background-color: white_color
  color gray_color
  font-weight: 500;
