.appbar
  background-color: primary_color
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 20px
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
  z-index: 1100
  border-bottom: 1px solid light_gray_color

.appbar-logo
  font-size: 28px
  font-family: Banda
  letter-spacing: 0px
  font-weight: 600
  margin: 0

.appbar-nav
  color: white_color
  display: flex;
  align-items: center;
  font-weight: 700

.appbar-nav__info-container
  font-size: 14px
  display: flex;
  align-items: center;

.appbar-nav__info
  display: flex;
  margin-right: 20px;

  span
    margin-right: 10px
    display: none;

.appbar-nav__info-holder
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px
  background-color: success_color
  color white_color

.appbar-nav__info-warning .appbar-nav__info-holder
  background-color: warning_color

.appbar-nav__list
  font-size: 16px
  display: flex;

  li
    padding: 15px 0
    margin: 0 20px
    transition: all 300ms ease
    &:last-child
      margin-right: 0
    &:first-child
      margin-left: 0
@media(min-width:tablet_break)
  .appbar
    padding: 0 5%
  .appbar-nav__info-container
    margin-right: 40px;
    span
      display: block;

  .appbar-logo
    font-size: 38px
