.app-content
  display: flex;
  flex-direction: column;
  align-items: center;

.container
  width: 95%

.markets-container
  display: flex;
  flex-direction: column;
  align-items: center;

.marketcard-subtitle, .marketcard-warning
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  span
    margin-right: 20px
    white-space: nowrap;
    color: gray_color

.marketcard-warning span
  font-size: 12px

.marketcard
  margin-bottom: 15px;
  width: 100%

.marketcard-predictions
  display: flex;
  flex-direction: column;

  .marketcard-predictions__choices
    display: flex;
    align-items: flex-end;
  h5
    margin-right: 20px

  h5, p
    margin-bottom: 0

@media(min-width: 768px)
  .container
    width: 80%
