.app-content
  display: flex;
  flex-direction: column;
  align-items: center;

.container
  width: 95%

.filter-container
  display: flex;
  align-items: flex-end;

.markets-container
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

.marketcard
  width: 100%
  margin-bottom: 20px

.marketcard-subtitle, .marketcard-warning
  max-width: 100%;
  display: flex;
  flex-direction: column;
  span
    margin-right: 20px
    white-space: nowrap;
    color: gray_color

.marketcard-subtitle span
  font-size: 13px

.marketcard-warning span
  font-size: 12px

.marketcard-predictions
  display: flex;
  flex-direction: column;

.marketcard-predictions__choices
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  a
    color: dark_color

  h5, p
    margin-bottom: 0
  h5
    margin-right: 20px
  p
    span
      font-weight: bold;
      font-size: .8rem
    .positive-color
      color: positive_color
    .negative-color
      color: negative_color
@media(min-width: tablet_break)
  .marketcard
    width: 49%;
    margin-right: 2%
    &:nth-child(2n)
      margin-right: 0
@media(min-width: desktop_break)
  .container
    width: 80%
  .marketcard
    width: 32%;
    margin-right: 2%
    &:nth-child(2n)
      margin-right: 2%
    &:nth-child(3n)
      margin-right: 0

  .marketcard-subtitle span
    font-size: 14px
