.order-request
  width: 100%
  padding: 0 5px

.order-request__subtitle
  font-size: 13px
  display: inline;
  margin 0
  span
    font-size: 12px

@media(min-width:tablet_break)
  .order-request__subtitle
    font-size: 15px
