.order-dialog
  display: flex;
  align-items: flex-start;

.order-dialog__table
  width: 200px
  margin-right: 20px

.order-dialog__form
  padding: 0 15px 0 15px
  max-width: 256px

.order-dialog__form-help
  font-size: 12px
