.order-dialog
  display: flex;
  align-items: flex-start;

.order-dialog__table
  width: 200px
  margin-right: 20px

.order-dialog__form
  padding: 0 0 0 0
  max-width: 100%

.order-dialog__form__inputs__container
  display: flex;

.order-dialog__form__inputs
  width: 50%

.order-dialog__form__buttons
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%


.order-dialog__form-help
  font-size: 12px

@media(min-width:tablet_break)
  .order-dialog__form
    padding: 0 15px 0 15px
    max-width: 256px

  .order-dialog__form__inputs
    width: auto

  .order-dialog__form__buttons
    display: none;
