.profile-mobile-menu
  background-color: primary_color
  width: 100%

.profile-mobile-menu__list
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0
  height: 100%
  width: 100%

@media(min-width:768px)
  .profile-container
    display: flex;
    align-items: stretch;
    padding: 0 40px

  .profile-menu-container
    width: 224px

  .profile-content-container
    width: calc(100% - 224px)
    padding: 0 20px
