header
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  z-index: 1000
  padding: 20px 20px
  &.auth
    position: relative;

.logo
  height: 50px

.logo-color
  fill topsectioncolor

.header-nav
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;

.header-nav__item
  color:topsectioncolor;
  text-decoration: none;
  padding: 8px 15px
  height: 100%;
  transition: all 600ms ease;
  position: relative;
  border-radius: 3px
  border: 2px solid transparent;
  &.enter
    border-color: white
  &:hover
    border-color: secondarycolor
    color: secondarycolor;
@media(min-width:tabletbreak)
  header
    padding: 20px 50px
  .header-nav__item
    padding: 8px 20px;

  .logo
    height: 80px

@media(min-width:desktopbreak)
  header
    padding: 20px 150px
  .header-nav__item
    padding: 8px 30px;
