@import "./var.styl"
@import "./base.styl"
@import "./header.styl"

.top-section
  color: topsectioncolor;
  padding-top: 150px
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("../img/man-thinking.jpg");
  background-position:center top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
.top-section__cto
  margin-top: 250px
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  p
    margin-bottom: -10px
    font-size: 20px
    font-weight: 300;
  i
    color secondarycolor
    transition: all 300ms ease
  &:hover i
    transform: scale(1.2);

#guroo{
  font-family: titlefont
  font-size: 21px
  font-weight: 300;
  width: 90%
  height: 62px
}
@media(min-width:tabletbreak)
  .top-section
    padding-top: 250px

  #guroo
    font-size: 40px
    width: 933px
    height: 60px
