@import "./var.styl"
@import "./base.styl"
@import "./header.styl"
@import "./top.styl"

.screenshot1
  border-radius: 5px
  box-shadow: shadow
  margin: 30px

.section-content .collapsible
  width: 70%

.collapsible-header
  font-size: 1.2rem
  font-weight: 400;
  letter-spacing: .2rem
  i
    color: secondarycolor

.collapsible-body
  &.fun
    display: flex;
    align-items: center;

.collapsible-body__content
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p
    color primarycolor
    font-size: 1.05rem
    padding: 0 2rem

.collapsible-body__content-title
  margin-top: -40px
  margin-bottom: 20px
  font-size: 1.4rem
  letter-spacing: .1rem
  color: warningcolor
