primarycolor = #616161
secondarycolor = #F9A51A
topsectioncolor = #fff
warningcolor = #ff4081
successcolor = #00BCD4
desktopbreak = 992px
tabletbreak = 600px
titlecolor = #3b3b3b
titlefont = Titles, sans-serif
shadow = rgba(0, 0, 0, 0.117647) 0px 2px 12px, rgba(0, 0, 0, 0.117647) 0px 2px 8px

@font-face
  font-family Titles
  src url('../fonts/BRANDON_MED.OTF')
  font-weight: 300;
