primarycolor = #616161
secondarycolor = #F9A51A
topsectioncolor = #fff
warningcolor = #ff4081
successcolor = #00BCD4
desktopbreak = 992px
tabletbreak = 600px
titlefont = Titles, sans-serif

@font-face
  font-family Titles
  src url('../fonts/BRANDON_MED.OTF')
  font-weight: 300;
