* {
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 95%;
}
.marketcard-subtitle {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.marketcard-subtitle span {
  margin-right: 20px;
  white-space: nowrap;
}
.marketcard {
  margin-bottom: 15px;
}
.marketcard-predictions {
  display: flex;
  flex-direction: column;
}
.marketcard-predictions .marketcard-predictions__choices {
  display: flex;
  align-items: flex-end;
}
.marketcard-predictions h5 {
  margin-right: 20px;
}
.marketcard-predictions h5,
.marketcard-predictions p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
}
