* {
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  font-family: 'Roboto';
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 95%;
}
.markets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marketcard-subtitle {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.marketcard-subtitle span {
  margin-right: 20px;
  white-space: nowrap;
}
.marketcard {
  margin-bottom: 15px;
  width: 100%;
}
.marketcard-predictions {
  display: flex;
  flex-direction: column;
}
.marketcard-predictions .marketcard-predictions__choices {
  display: flex;
  align-items: flex-end;
}
.marketcard-predictions h5 {
  margin-right: 20px;
}
.marketcard-predictions h5,
.marketcard-predictions p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}
.orderrequest-title {
  display: block;
}
.orderrequest-card {
  margin-right: 20px;
}
.orderrequest-card__header {
  background-color: #00bcd4;
  color: #fff;
  padding: 10px 15px;
}
.orderrequest-card__header p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.orderrequest-card__orders-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.orderrequest-card__buy-column,
.orderrequest-card__sell-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orderrequest-card__details span {
  font-size: 13px;
}
.orderbook-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.orderbook-card {
  width: 450px;
  margin-right: 1%;
  margin-bottom: 1%;
}
td,
th {
  padding: 2px 5px;
}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
}
