* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-image: url("../img/ecailles.png");
  background-repeat: repeat;
}
.auth-body {
  padding: 3% 0;
}
.alert-error {
  color: #ff4081;
}
.logo {
  height: 40px;
  margin-bottom: 10px;
}
.row .col.checkbox-field {
  min-height: 50px;
  margin-top: 0;
}
.form-btn {
  margin-bottom: 15px;
  width: 100%;
}
.fb-btn {
  margin: 15px 0;
  width: 100%;
}
/* label color */
.input-field label {
  color: #616161;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
  color: #00bcd4;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid #00bcd4;
  box-shadow: 0 1px 0 0 #00bcd4;
}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=password].valid {
  border-bottom: 1px solid #00bcd4;
  box-shadow: 0 1px 0 0 #00bcd4;
}
/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=password].invalid {
  border-bottom: 1px solid #00bcd4;
  box-shadow: 0 1px 0 0 #00bcd4;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #00bcd4;
}
