* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  z-index: 1000;
}
header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header a {
  color: #303030;
  text-decoration: none;
  padding: 8px 60px;
  height: 100%;
  border-right: 1px dashed #303030;
  transition: all 600ms ease;
}
header a:hover {
  background-color: #f9a51a;
  color: #fff;
}
header a:first-child {
  border-left: 1px dashed #303030;
}
.top-section {
  color: #303030;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/ecailles.png");
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  position: relative;
}
.top-section__drawings {
  position: absolute;
  bottom: 5%;
  height: 50%;
}
.top-section__drawings.left {
  left: 2%;
}
.top-section__drawings.right {
  right: 2%;
}
#guroo {
  font-size: 42px;
  font-weight: 300;
  min-height: 114px;
  margin-top: 12%;
  width: 830px;
}
.btn {
  border: 1px solid #616161;
  border-radius: 3px;
  padding: 5px;
  color: #616161;
  text-decoration: none;
}
.btn:hover {
  border-color: #f9a51a;
  color: #f9a51a;
}
.logo {
  height: 200px;
  margin-bottom: 50px;
  margin-left: 25px;
}
.logo-color {
  fill: #616161;
}
