@font-face {
  font-family: Titles;
  src: url("../fonts/BRANDON_MED.OTF");
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  z-index: 1000;
  padding: 20px 20px;
}
header.auth {
  position: relative;
}
.logo {
  height: 50px;
}
.logo-color {
  fill: #fff;
}
.header-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-nav__item {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  height: 100%;
  transition: all 600ms ease;
  position: relative;
  border-radius: 3px;
  border: 2px solid transparent;
}
.header-nav__item.enter {
  border-color: #fff;
}
.header-nav__item:hover {
  border-color: #f9a51a;
  color: #fff;
}
@media (min-width: 638px) {
  header {
    padding: 20px 150px;
  }
  .header-nav__item {
    padding: 8px 20px;
  }
  .logo {
    height: 80px;
  }
}
@media (min-width: 992px) {
  .header-nav__item {
    padding: 8px 30px;
  }
}
.top-section {
  color: #fff;
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("../img/man-thinking.jpg");
  background-position: center top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
.top-section__cto {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.top-section__cto p {
  margin-bottom: -10px;
  font-size: 20px;
  font-weight: 300;
}
.top-section__cto i {
  color: #f9a51a;
  transition: all 300ms ease;
}
.top-section__cto:hover i {
  transform: scale(1.2);
}
#guroo {
  font-family: Titles, sans-serif;
  font-size: 21px;
  font-weight: 300;
  width: 90%;
  height: 62px;
}
@media (min-width: 600px) {
  .top-section {
    padding-top: 250px;
  }
  #guroo {
    font-size: 40px;
    width: 933px;
    height: 60px;
  }
}
