{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block cardclass %}col s12 offset-m3 m6{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12">

    <h4>{% trans "E-mail Addresses" %}</h4>

    {% if user.emailaddress_set.all %}
    <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

    <form action="{% url 'account_email' %}" class="email_list" method="post">
    {% csrf_token %}
    {% for emailaddress in user.emailaddress_set.all %}
      <p class="ctrlHolder">
        <input name="email" type="radio" id="email_radio_{{forloop.counter}}" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
        <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
          {{ emailaddress.email }}
          {% if emailaddress.verified %}
            <span class="verified">{% trans "Verified" %}</span>
          {% else %}
            <span class="unverified">{% trans "Unverified" %}</span>
          {% endif %}
          {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
        </label>
      </p>
    {% endfor %}
    <div class="buttonHolder">
      <br>
      <button class="btn cyan" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
      <button class="btn cyan" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
      <br><br>
      <button class="btn pink accent-2" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
      <br><br>
    </div>

    </form>

    {% else %}
    <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

    {% endif %}
    <h5>{% trans "Add E-mail Address" %}</h5>
  </div>
  <form method="post" action="{% url 'account_email' %}" class="add_email">
      {% csrf_token %}
      <div class="input-field col s12">
        <input name="email" id="id_email" type="text" maxlength="30">
        <label for="id_email">Email</label>
        {% if form.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
      </div>
    <div class="col s12">
      <button class="btn cyan" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </div>
  </form>
</div>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
