{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block cardclass %}col s12 offset-m4 m4{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12">
    <h4>{% trans "Set Password" %}</h4>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        <div class="input-field">
          <input name="password1" id="id_password1" type="password" maxlength="30">
          <label for="id_password1">Senha</label>
          {% if form.errors %}
              {% for error in form.password1.errors %}
                  <div class="alert alert-error">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
        </div>
        <div class="input-field">
          <input name="password2" id="id_password2" type="password" maxlength="30">
          <label for="id_password2">Confirme a Senha</label>
          {% if form.errors %}
              {% for error in form.password2.errors %}
                  <div class="alert alert-error">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
        </div>
        <input class="form-btn btn cyan" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </form>

  </div>
</div>
{% endblock %}
