<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="token" value="{{ csrf_token }}">
    <title>Guroo</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'front/img/guroo-favicon2-02.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css">
    <link rel="stylesheet" href="{% static 'front/css/app.css' %}">
  </head>
  <body>
    {% include "front/analytics.html" %}
    <div id="app"></div>
    <script type="text/javascript">
      window.gvar = {
        'user': '{{user}}',
        'socket_url': '{{socket_url}}',
        'baseurl': '{{request.META.HTTP_HOST}}',
        'usravatar': "{% static 'front/img/usr.png' %}",
        'logo': "{% static 'front/img/guroo-branco-junto-05.png' %}",
        'logo2': "{% static 'front/img/guroo-branco-dividido-04.png' %}",
        'breakpoint': 767,
        'desktopbreak': 1279,
        'primarycolor': '#616161',
        'secondarycolor': '#F9A51A',
        'lightcolor': '#fff',
        'successcolor': '#00BCD4',
        'warningcolor': 'rgb(255, 64, 129)',
        'positivecolor': 'green',
        'negativecolor': 'red',
        'graycolor': 'rgba(0,0,0,.541176)',
        'titlefont': 'Banda'
      };
    </script>
    <script src="//www.paypalobjects.com/api/checkout.js" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js" charset="utf-8"></script>
    <script src="{% static 'front/js/app.bundled.js' %}" charset="utf-8"></script>
  </body>
</html>
