<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="token" value="{{ csrf_token }}">
    <title>BetLoco</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css">
    <link rel="stylesheet" href="{% static 'front/css/app.css' %}">
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript">
      window.gvar = {
        'breakpoint': 768,
        'primarycolor': 'rgb(0, 188, 212)'
      };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js" charset="utf-8"></script>
    <script src="{% static 'front/js/app.bundled.js' %}" charset="utf-8"></script>
  </body>
</html>
