<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'front/img/guroo-favicon2-02.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'front/css/auth.css' %}" media="screen" title="no title" charset="utf-8">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="auth-body">
    {% include "front/analytics.html" %}
    {% block body %}
    <header class="auth hide-on-med-and-up">
      <ul class="header-nav">
      	{% if user.is_authenticated %}
        <a href="/app/" class="header-nav__item"><li>App</li></a>
      	<a href="{% url 'account_email' %}" class="header-nav__item"><li>Trocar email</li></a>
      	<a href="{% url 'account_logout' %}" class="header-nav__item"><li>Sair</li></a>
      	{% else %}
        <a href="/" class="header-nav__item"><li>Home</li></a>
      	<a href="{% url 'account_login' %}" class="header-nav__item"><li>Login</li></a>
      	<a href="{% url 'account_signup' %}" class="header-nav__item"><li>Cadastro</li></a>
      	{% endif %}
      </ul>
    </header>

    <div class="top-menu hide-on-small-only">
      <ul class="collection">
      	{% if user.is_authenticated %}
        <li class="collection-item"><a href="/app/">App</a></li>
      	<li class="collection-item"><a href="{% url 'account_email' %}">Trocar email</a></li>
      	<li class="collection-item"><a href="{% url 'account_logout' %}">Sair</a></li>
      	{% else %}
        <li class="collection-item"><a href="/">Home</a></li>
      	<li class="collection-item"><a href="{% url 'account_login' %}">Login</a></li>
      	<li class="collection-item"><a href="{% url 'account_signup' %}">Cadastro</a></li>
      	{% endif %}
      </ul>
    </div>
    <div class="auth-message">
    {% if messages %}
    	{% for message in messages %}
      	<p>{{message}}</p>
    	{% endfor %}
    {% endif %}
    </div>
    <div class="row">
      <div class="{% block cardclass %}{% endblock %}">
        <div class="auth-card card white">
          <div class="card-content">
            <div class="col s12">
              {% load staticfiles %}
              <img src="{% static 'front/img/olholharanja-junto-07.png' %}" class="logo" />
            </div>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </body>
</html>
